
.cart{
    margin-top:40px;
    margin-right: 20px;
    background-color: #FF9900;
    padding:15px;
    position:sticky;
    top:0;
}

.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: red;
    color:white;
}
.delete-icon-clear{
    color:white;
}